* {
    font-family: 'helvetica';
    background-color: aquamarine;
}

h1 {
  padding-top: 20px;
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 650px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
} 

th {
  background-color: ghostwhite;
  border: 1px solid black;
  font-weight: bold;
  font-size: 18px;
  color: #444444;
  height: 50px;
  text-align: center;
  margin: 0;
}

td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  background-color: #bfffef;
}

.code {
  font-family: 'andalemono', monaco, monospace;
  color: lightyellow;
  background-color: #af9fd4;
}